<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="login" th:if="${userName == null}">
    <a href="/login">로그인</a>
    <a href="/register">회원가입</a>
</div>

<div th:if="${userName != null}">
    <a href="/edit"><p th:text="${userName}"></p></a>
    <a href="logout">로그아웃</a>
</div>

<nav class="navbar">
    <div class="logo"><a href="/">DATA SCIENCE</a></div>
    <ul class="menu">
        <li class="dropdown">
            <button class="dropbtn">학과소개</button>
            <ul class="hiddenmenu">
                <li><a href="/DI/major">학과소개</a></li>
                <li><a href="/DI/student">학생회소개</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <button class="dropbtn">공지사항</button>
            <ul class="hiddenmenu">
                <li><a href="/notice/notice">공지사항</a></li>
                <li><a href="/notice/vote">투표</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <button class="dropbtn">게시판</button>
            <ul class="hiddenmenu">
                <li><a href="">자유게시판</a></li>
                <li><a href="">대여게시판</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <button class="dropbtn">기타</button>
            <ul class="hiddenmenu">
                <li><a href="/timeTable">시간표</a></li>
            </ul>
        </li>
    </ul>
    <button id="hamburger"><i class="fa-solid fa-bars"></i></button>
</nav>

<div class="container">

    <form action="/updateUserInformation" method="post">
        <div class="form-group">
            <label for="name">이름 수정</label>
            <p th:text="${name}"></p>
            <input type="text" id="name" name="name" placeholder="수정할 이름">

            <br>

            <label for="email">메일 수정</label>
            <p th:text="${email}"></p>
            <input type="text" id="email" name="email" placeholder="수정할 메일">

            <br>

            <label for="currentPassword">현재 비밀번호</label>
            <input type="password" id="currentPassword" name="password" placeholder="현재 비밀번호">

            <label for="newPassword">새로운 비밀번호</label>
            <input type="password" id="newPassword" name="password2" placeholder="새로운 비밀번호">

            <label for="newPassword2">새로운 비밀번호</label>
            <input type="password" id="newPassword2" name="password3" placeholder="새로운 비밀번호 확인">
        </div>
        <button type="submit">등록</button>
    </form>

</div>
<script src="/JS/home.js"></script>
</body>
</html>