<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="CSS/home.css" />
    <script src="https://kit.fontawesome.com/f668b9b848.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="login" th:if="${userName == null}">
    <a href="/login">로그인</a>
    <a href="/register">회원가입</a>
</div>

<div th:if="${userName != null}">
    <a href="/edit"><p th:text="${userName}"></p></a>
    <a href="logout">로그아웃</a>
</div>

<nav class="navbar">
    <div class="logo"><a href="/">DATA SCIENCE</a></div>
    <ul class="menu">
        <li class="dropdown">
            <button class="dropbtn">학과소개</button>
            <ul class="hiddenmenu">
                <li><a href="/major">학과소개</a></li>
                <li><a href="/student">학생회소개</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <button class="dropbtn">공지사항</button>
            <ul class="hiddenmenu">
                <li><a href="/notice">공지사항</a></li>
                <li><a href="/">투표</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <button class="dropbtn">게시판</button>
            <ul class="hiddenmenu">
                <li><a href="">자유게시판</a></li>
                <li><a href="">대여게시판</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <button class="dropbtn">기타</button>
            <ul class="hiddenmenu">
                <li><a href="/timeTable">시간표</a></li>
            </ul>
        </li>
    </ul>
    <button id="hamburger"><i class="fa-solid fa-bars"></i></button>
</nav>
<main class="main">
    <div class="wrap">
        <br />
        <h1 style="text-align: center; font-size: 40px">공지사항</h1>
        <div class="table">
            <table>
                <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성 날짜</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="notice : ${notice} "  th:attr="data-href=@{'/notice/' + ${notice.id}}" onclick="window.location.href = this.getAttribute('data-href');">
                    <td th:text="${notice.id}"></td>
                    <td th:text="${notice.title}"></td>
                    <td th:text="${notice.author}"></td>
                    <td th:text="${notice.created_At}"></td>
                </tbody>
            </table>
        </div>
        <div><button class="write"><a href="/write">글쓰기</a></button></div>
    </div>
</main>
</body>
</html>