<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/CSS/home.css"/>
    <link rel="stylesheet" href="/CSS/vote.css"/>
    <title>Document</title>
</head>
<body>
<div class="login" th:if="${userName == null}">
    <a href="/login">로그인</a>
    <a href="/register">회원가입</a>
</div>

<div th:if="${userName != null}">
    <a href="/edit"><p th:text="${userName}"></p></a>
    <a href="logout">로그아웃</a>
</div>

<nav class="navbar">
    <div class="logo"><a href="/">DATA SCIENCE</a></div>
    <ul class="menu">
        <li class="dropdown">
            <button class="dropbtn">학과소개</button>
            <ul class="hiddenmenu">
                <li><a href="/DI/major">학과소개</a></li>
                <li><a href="/DI/student">학생회소개</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <button class="dropbtn">공지사항</button>
            <ul class="hiddenmenu">
                <li><a href="/notice/notice">공지사항</a></li>
                <li><a href="/notice/vote">투표</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <button class="dropbtn">게시판</button>
            <ul class="hiddenmenu">
                <li><a href="">자유게시판</a></li>
                <li><a href="">대여게시판</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <button class="dropbtn">기타</button>
            <ul class="hiddenmenu">
                <li><a href="/timeTable">시간표</a></li>
            </ul>
        </li>
    </ul>
    <button id="hamburger"><i class="fa-solid fa-bars"></i></button>
</nav>

<main class="main">
    <div class="wrap">
        <br />
        <h1 style="text-align: center; font-size: 40px">투표</h1>
        <div class="frame">
            <span class="topic">투표 주제</span>
            <div class="content">
                <ul>
                    <li>내용1</li>
                    <li>내용2</li>
                </ul>
            </div>
            <div>
                <button class="button">찬성</button>
                <button class="button">반대</button>
            </div>
        </div>
    </div>
</main>
<script src="/JS/home.js"></script>
</body>
</html>